.pydevproject
.project
.cproject
.idea/
.settings/
*.pyc
doc/build
build/
dist/
**/application_generated_data_files/
**/reports/
*.aplx
/spynnaker_graph_front_end.egg-info/
/SpiNNakerGraphFrontEnd.egg-info/
/spinnaker_graph_front_end.egg-info/
**/Debug/
__pycache__/
*.o
*.so
*.dylib
