.pydevproject
.project
.idea/
.settings/
*.pyc
doc/build
build/
dist/
**/application_generated_data_files/
**/reports/
*.aplx
**/*.egg-info/
.cache/
.coverage
__pycache__
.pytest_cache
**/modified_src/
**/Debug/
*.dict
/.mypy_cache/
*/logs.sqlite3
