# Copyright (c) 2017-2019 The University of Manchester
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Simulation]
# Maximum spikes per second of any neuron (spike rate in Hertz)
spikes_per_second = 30

# The number of standard deviations from the mean to account for in
# the ring buffer in terms of how much safety in precision vs overflowing the
# end user is willing to risk
ring_buffer_sigma = 5

# The amount of space to reserve for incoming spikes
incoming_spike_buffer_size = 256

[Machine]
tryReboot = True
use_app_stop = True

[MasterPopTable]
# algorithm: {2dArray, BinarySearch, HashTable}
generator = BinarySearch
#generator = 2dArray

[Recording]
#---------

# Uncomment the following to change from the defaults
live_spike_port = 17895
live_spike_host = 0.0.0.0

[Buffers]

# These values can be adjusted to set the maximum amount of SDRAM per core
# that will be used for the various neuron parameters to be recorded.  This
# will affect how many neurons can fit on a chip.
spike_buffer_size = 1048576
v_buffer_size = 1048576
gsyn_buffer_size = 2097152

[Mode]
violate_1ms_wall_clock_restriction = False

[Database]
listen_port = None
notify_port = 19999
notify_hostname = localhost
